body {
    background-color: #ffffff;
    color: #000000;
    font-family: 'Lato', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

.text-blue {
    color: #004696;
}

.text-bold {
    font-weight: bold;
}

.navbar {
    background-color: #004696;
}

footer {
    background-color: #004696;
    color: #fff;
    margin-top: auto;
}

.btn.forum-btn-primary {
    background-color: #E58C18;
    color: #fff;
    font-weight: bold;
    border: 1px solid #E58C18;
}

.btn.forum-btn-primary:active {
    background-color: #b97113;
    color: #fff;
    border-color: #E58C18;
}

.btn.forum-btn-primary:hover {
    background-color: #eca446;
    color: #fff;
    border-color: #E58C18;
}

.btn.forum-btn-secondary {
    background-color: #fff;
    color: #004696;
    border: 1px solid #004696;
}

.btn.forum-btn-secondary:active {
    background-color: #002d61;
    color: #004696;
    border: 1px solid #004696;
}

.btn.forum-btn-secondary:hover {
    background-color: #d2e4f9;
    color: #004696;
    border: 1px solid #004696;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

.card .card-text {
    font-size: 16px;
    line-height: 1.5;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.thread-detail-image {
    max-width: 800px;
    width: 100%;
}

.sidebar {
    min-height: 100vh;
    border-right: 1px solid #ccc;
    min-width: 250px;
}

.sidebar a {
    display: block;
    margin-bottom: 10px;
}

.sidebar h6 {
    color: grey;
}

.btn.forum-btn-delete {
    background-color: none;
    border: 1px solid var(--bs-danger);
    color: var(--bs-danger);
    font-weight: bold;
}

.btn.forum-btn-delete:active {
    background-color: #f9b1b1;
    color: var(--bs-danger);
    border: 1px solid var(--bs-danger);
}

.btn.forum-btn-delete:hover {
    background-color: #f8dddd;
    color: var(--bs-danger);
    border: 1px solid var(--bs-danger);
}

.avatar-big {
    max-width: 180px;
}

.avatar-small {
    background-size: cover;
}

.avatar-wrapper {
    display: inline-block;
    min-width: 40px;
    height: 40px;
}

.thread-card-channel {
    color: grey;
}

.channel-image {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center center;
}

.list-group .list-group-item:hover {
    background-color: #f4e6d5;
}

.list-group .list-group-item.active {
    background-color: #E58C18;
}

.list-group .badge {
    background-color: #004696;
}

.channel-toggle-button {
    background: none;
    border: 0;
    color: var(--bs-navbar-color);
}