body {
    background-color: white;
    color: black;
}

.text-turquoise {
    color: turquoise;
}

.text-bold {
    font-weight: bold;
}

.btn-turquoise {
    background-color: #40E0D0;
  }

.bg-purple{
    background-color: rgb(113, 77, 230);
}
