body {
    background-color: white;
    color: black;
}

.text-turquoise {
    color: turquoise;
}

.text-bold {
    font-weight: bold;
}

.btn-turquoise {
    background-color: #40E0D0;
  }

.bg-purple {
    background-color: rgb(113, 77, 230);
    color: white;
}

.comment-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    margin-top: 1.3em;
}

.comment-form input[type="text"] {
    flex: 1;
    margin-right: 8px;
    padding: 6px 10px;
    border: none;
    background-color: transparent;
    font-size: 16px;
}

.comment-form button {
background-color: #6c63ff;
color: #fff;
border: none;
border-radius: 5px;
padding: 8px 16px;
font-size: 16px;
cursor: pointer;
}

.comment-form button:hover {
    background-color: #534eda;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

.card .card-text {
    font-size: 16px;
    line-height: 1.5;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sidebar {
    min-height: 100vh;
    border-right: 1px solid #ccc;
    padding: 15px;
    width: 250px;
  }
  
  .sidebar a {
    display: block;
    margin-bottom: 10px;
  }