<!-- Sidebar -->
<div class="sidebar pt-4 me-4">
    <!-- Sidebar content goes here -->
    <h6>CHANNELS</h5>
        <div class="list-group list-group-flush">
            <a href="{% url 'index' %}"
                class="list-group-item d-flex justify-content-between align-items-start {% if not current_channel %}active{% endif %}">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">
                        <i class="fa-solid fa-earth-americas"></i> ALL
                    </div>
                </div>
                <span class="badge rounded-pill">{{ total_threads_nr }}</span>
            </a>
            {% for channel in channels %}
            <a href="{% url 'channel_threads' channel.slug %}"
                class="list-group-item d-flex justify-content-between align-items-start {% if channel == current_channel %} active {% endif %}">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">
                        <i class="fa-solid {{ channel.icon }}"></i> {{ channel.name }}
                    </div>
                </div>
                <span class="badge rounded-pill">{{ channel.threads.count }}</span>
            </a>
            {% endfor %}
        </div>

</div>