<div class="card mb-3">
    <div class="row g-0">
        {% if thread.image.url  %}
        <div class="col-md-4">
            <img src="{{ thread.image.url }}" class="img-fluid rounded-start" alt="thread image">
        </div>
        {% endif %}
        <div class="col-md-8">
            <div class="card-body">
                <div class="thread-card-channel">
                    <i class="fa-solid {{ thread.channel.icon }}"></i> {{ thread.channel.name }}
                </div>
                <h5 class="card-title">{{ thread.title }}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Created on: {{thread.created_on}} | Edited
                    on: {{ thread.edited_on }}</h6>
                <div class="card-subtitle mb-2 text-body-secondary">
                    {% include 'snippets/user_avatar.html' with user=thread.user %}</div>
                <p class="card-text">{{ thread.content|linebreaks|truncatewords:10 }}</p>
                <a href="{% url 'thread_detail' thread.pk %}" class="btn forum-btn-primary">Read more</a>

                <!-- Count of replies and Upvotes -->
                <p class="mt-2">
                    <i class="fa-regular fa-comments"></i> {{ thread.replies.count }}
                    <i class="fa-solid fa-right-left fa-rotate-90"></i> {{ thread.votes }}
                </p>
            </div>
        </div>
    </div>
</div>