{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container-lg py-4">
    <h1>Oops! Lost in Cyberspace - 403 Error</h1>
    <p>We sense a little space-time hiccup on our end while you were wandering through our digital realm. That tricky
        403 error? It's like the web's way of saying, "Wait a sec, this page seems to have gone on vacation!"</p>
    <p>No sweat! Just turn back to <a href="{% url 'index' %}" class="text-blue text-bold">GoGlobal</a></p>
</div>
{% endblock %}