{% extends "base.html" %}
{% block title %}Edit Profile{% endblock title %}
{% block content %}

{% load crispy_forms_tags %}
<h1>Edit your profile</h1>
<form action="{% url 'edit_profile' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ user_form | crispy }}
    {{ profile_form | crispy }}
    <button type="submit" class="btn forum-btn-primary text-bold btn-md">Save Changes</button>
    <a href="{% url 'user_profile' %}"><button type="button"
            class="btn forum-btn-secondary text-bold">Cancel</button></a>

</form>


{% endblock %}