{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="d-flex">

  {% include 'snippets/sidebar.html' %}

  <div class="flex-grow-1 px-4">
    {% if current_channel %}
    <div class="channel-image" style="background-image: url('{{ current_channel.image.url }}')">
    </div>
    {% endif %}

    <div class="d-flex justify-content-between mt-2">
      {% if current_channel %}
      <h1>
        {{ current_channel.name }}
      </h1>
      {% else %}
      <h1>All Threads</h1>
      {% endif %}

      <!-- Order by dropdown, the correct option is selected depending on the order by param -->
      <div class="d-flex align-items-center gap-2">
        <div class="text-nowrap"><i class="fa-solid fa-sort"></i> Order by: </div>
        <select id="order-by-select" class="form-select" aria-label="Default select example">
          <option value="-created_on" {% if order_by == "-created_on" %}selected{% endif %}>Newest first</option>
          <option value="created_on" {% if order_by == "created_on" %}selected{% endif %}>Oldest first</option>
          <option value="title" {% if order_by == "title" %}selected{% endif %}>Title</option>
          <option value="popular" {% if order_by == "popular" %}selected{% endif %}>Most upvoted</option>
        </select>
      </div>
    </div>

    {% if current_channel %}
    <a href="{% url 'thread_add' %}?channel={{ current_channel.slug }}" class="btn forum-btn-primary">Add a thread</a>
    {% else %}
    <a href="{% url 'thread_add' %}" class="btn forum-btn-primary">Add a thread</a>
    {% endif %}

    <div class="py-4">
      {% for thread in thread_list %}

      {% include 'snippets/thread_card.html' with thread=thread %}

      {% endfor %}

      <!-- Pagination -->
      <div class="pagination justify-content-center">
        <ul class="pagination">
          {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?order_by={{ order_by }}&page=1" aria-label="First">
              <span aria-hidden="true">&laquo;&laquo;</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?order_by={{ order_by }}&page={{ page_obj.previous_page_number }}"
              aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          {% endif %}

          <li class="page-item disabled">
            <span class="page-link">Page {{ page_obj.number }} of {{ paginator.num_pages }}</span>
          </li>

          {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?order_by={{ order_by }}&page={{ page_obj.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?order_by={{ order_by }}&page={{ paginator.num_pages }}" aria-label="Last">
              <span aria-hidden="true">&raquo;&raquo;</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock%}

{% block javascript %}
<script src="{% static 'js/index.js' %}"></script>

{% endblock %}