{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="container py-4">
  <h1>Posts</h1>
  <a href="{% url 'post_add' %}"><button type="button" class="btn bg-purple">Add a post</button></a>
  {% for post in post_list %}
  <div class="card" style="width: 18rem;">
    <img src="{{ post.image.url }}" class="card-img-top" alt="Post Image">
    <div class="card-body">
      <h5 class="card-title">{{ post.title }}</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">{{post.created_on}}</h6>
      <h6 class="card-subtitle mb-2 text-body-secondary">{{ post.user }}</h6>
      <p class="card-text">{{ post.content|truncatewords:10 }}</p>
      <a href="{% url 'post_detail' post.pk %}" class="card-link">Read more</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
  {% endfor %}

</div>
{% endblock%}