{% extends "base.html" %}

{% load static %}

{% block content %}

<p>Results with the keyword:{{keyword}}</p>

{% for post in posts %}

<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{{ post.image.url }}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{post.created_on}}</h6>
                <h6 class="card-subtitle mb-2 text-body-secondary">
                    {% include 'user_avatar.html' with user=post.user %}</h6>
                <p class="card-text">{{ post.content|truncatewords:10 }}</p>
                <a href="{% url 'post_detail' post.pk %}" class="card-link">Read more</a>
            </div>
        </div>
    </div>
</div>

{% endfor %}

{% endblock %}