{% extends 'base.html' %}
{% load static %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container-lg py-4">
    {% include 'snippets/app_message.html' with messages=messages %}

    <div class="card mb-3">
        <div class="card-body">
            <div class="thread-card-channel">
                <i class="fa-solid {{ thread.channel.icon }}"></i> {{ thread.channel.name }}
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <h1 class="card-title">{{ thread.title }}</h1>
                <!-- Edit thread button -->
                {% if user.id == thread.user.id %}
                <div class="mt-2">
                    <a href="{% url 'thread_edit' thread.pk %}" class="btn forum-btn-secondary">Edit thread</a>
                </div>
                {% endif %}
            </div>
            <h6 class="card-subtitle mb-2 text-body-secondary">
                <em>Created on: {{thread.created_on}} | Edited
                    on: {{ thread.edited_on }}</em>
            </h6>

            <div class="d-flex align-items-center pb-2">
                <div class="me-2">Author: </div>
                {% include 'snippets/user_avatar.html' with user=thread.user %}
            </div>

            {% if thread.image.url  %}
            <div class="text-center">
                <img src="{{ thread.image.url }}" class="img-fluid mb-3 thread-detail-image" alt="{{ thread.title }}">
            </div>
            {% endif %}
            <p class="card-text">{{ thread.content|linebreaks }}</p>
            <div class="mt-2">

                <!-- Count of replies and Upvotes -->
                <div class="d-flex align-items-center mb-3">
                    <div class="mt-2">
                        <i class="fa-regular fa-comments"></i> {{ thread.replies.count }}
                        <i class="fa-solid fa-right-left fa-rotate-90"></i> {{ thread.votes }}
                    </div>
                </div>

                <!-- Upvote and Downvote Button -->
                {% if user.is_authenticated %}
                <div class="d-flex">
                    <form method="POST" action="{% url 'upvote_thread' thread.pk %}" class="me-2">
                        {% csrf_token %}
                        <button type="submit" name="action"
                            class="btn {% if user_upvotes_thread %}forum-btn-secondary{% else %}forum-btn-primary{% endif %}">
                            <i class="fa-solid fa-up-long fa-beat-fade"></i> Upvote
                        </button>
                    </form>

                    <form method="POST" action="{% url 'downvote_thread' thread.pk %}">
                        {% csrf_token %}
                        <button type="submit" name="action"
                            class="btn {% if user_downvotes_thread %}forum-btn-secondary{% else %}forum-btn-primary{% endif %}">
                            <i class="fa-solid fa-down-long"></i> Downvote
                        </button>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>


<!-- Replies Section -->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <h3>Leave a reply:</h3>
            <p>Posting as: <strong> {{ user.username }} </strong></p>

            <form method="post" class="my-2">
                {% csrf_token %}
                {{ reply_form | crispy }}
                <button type="submit" class="btn btn-signup forum-btn-primary">Submit</button>
            </form>

            {% for reply in thread.replies.all %}
            <div class="card">
                <div class="card-body"> On
                    <span class=" text-muted font-weight-normal">
                        <em>{{ reply.created_on }}</em></span> |
                    {{ reply.user.username }} wrote:
                    <p class="card-text">{{ reply.content }}</p>
                </div>
            </div>
            {% empty %}
            <p>No replies yet.</p>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}