{% extends 'base.html' %}

{% load static %}

{% block content %}

{% load crispy_forms_tags %}
<div class="container-lg py-4">
    <h1>Add a new thread</h1>
    <form method="POST" action="{% url 'thread_add' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            {{ form | crispy }}
        </div>
        <div>
            <button type="submit" class="btn forum-btn-primary text-bold btn-md">Add Thread</button>
            <a href="{% url 'index' %}" class="btn forum-btn-secondary text-bold">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}