{% load static %}

<div class="row align-items-center flex-nowrap">
    <div class="col ratio ratio-1x1 avatar-wrapper">
        {% if not user.profile.avatar %}
        <div class="rounded-circle avatar-small"
            style="background-image: url({% static 'media/avatar_profile.png' %});"> </div>
        {% else %}
        <div class="rounded-circle avatar-small" style="background-image: url({{ user.profile.avatar.url }});"></div>
        {% endif %}
    </div>
    <div class="col">{{ user.username }}</div>
</div>